*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active-player{
  border: 5px solid green;
  background-color: #dedede;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0 0 30px;
  height: 250px;
  width: 100px;
}

#board{
  align-items: center;
  background-color: blue;
  display: grid;
  grid-gap: 0.1rem;
  grid-template-columns: repeat(10, 1fr);
  height: 35rem;
  justify-content: center;
  padding: 0.2rem;
  width: 65rem;
}

.container{
  display: grid;
  grid-template-areas: 
  'board active-player';
  grid-gap: 1rem;
  margin-top: 2rem;
}

.player{
  content: '';
  border-radius: 50px;
  height: 50px;
  width: 50px;
}
.player-1{
  background-color: blue;
}
.player-2{
  background-color: red;
}

.square{
  background-color: #e09850;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
}