*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active-player{
  align-items: center;
  border: 5px solid green;
  background-color: #dedede;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 0 0 30px;
  height: 250px;
  width: 100px;
}

#game-container{
  display: grid;
  grid-template-areas: 
  'active-player board'
  ;
}

.player{
  content: '';
  border-radius: 50px;
  height: 50px;
  width: 50px;
}
.player-1{
  background-color: blue;
}
.player-2{
  background-color: red;
}


#board{
  background-color: blue;
  display: grid;
  height: 500px;
  grid-template-columns: repeat(10, 1fr);
  width: 500px;
}

.square{
  background-color: #e09850;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;;
  height: 50px;
  width: 49px;
}